@font-face {
    font-family: "GTEestiPro-Light";
    src: url("../fonts/GTEestiProDisplay-Light.woff2") format("woff2");
}
@font-face {
    font-family: "GTEestiPro-Regular";
    src: url("../fonts/GTEestiProDisplay-Regular.woff2") format("woff2");
}
:root{
    /* --color1: #0E3049;
    --color-accent: #0D858A;
    --color-accent2: #7FC7A6;
    --color-border: #F1D05A;
    --color-button: #F85A3E; */

    --color1: #DEDCE9;
    --color-accent: #7365AF;
    --color-accent2: #8E77B3;
    --color-border: #674890;
    /* --color-button: #3D398D; */
    --color-button: #7365AF;
    --color-font:#001a34;
    --color-variant: #10c44c;
    --color-back: #ffffff;

    --border-radius: 7px;
}

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--color-font);
    font-family: 'GTEestiPro-Regular';
}