body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.maindiv{
    height: auto;
    width: 320px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 1px #b5b5b5;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.formdiv label{
    position: relative;
}
.formdiv label input{
    height: 35px;
    border-color: gray;
    border-style: double;
    border-radius: 7px;
    outline: none;
    font-size: 12pt;
    padding-left: 7px;
    padding-right: 7px;
    border-width: 1px;
    width: 100%;
}
.formdiv label input:focus,
.formdiv label.filled input
{
    border-color: #F85A3E;
    border-width: 2px;
}

.formdiv label span{
    position: absolute;
    left: 5px;
    margin-top: 10px;
    background-color: white;
    color: gray;
    padding: 0 4px;
    transition: all 0.3s ease-in-out;
}

.formdiv input:focus + span,
.formdiv label.filled span{
    top: -18px;
    font-size: 10pt;
    color: #F85A3E;
}
.maindiv div form button{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 0px;
    background-color: #F85A3E;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.maindiv div form button:hover{
    box-shadow: 0px 0px 20px 1px #F85A3E;
}
    

.formdiv{
    display: flex;
    flex-direction: column;
}
.formdiv > *{
    margin-bottom: 20px;
} 